.payment-div {
    height:50vh;
    margin: 5px auto;

    img {
        height: 50%;
        object-fit: contain;
    }

    form {
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
    }
}