#errand-container {
    display: flex;
    justify-content: center;
}

h2{
    text-align: center;
}
.errand-card {
    box-shadow: 0 3px 10px rgb(44 44 45 / 10%) , inset 0 0 0 1px rgb(44 44 45 / 10%);
    height: 20vw;
    width: 15vw;
    margin: 10px;
    border: lightgrey;
    border-radius: 5px;
    background-color: white;
    padding: 0;

    .item-details {
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
        font-family: 'Otomanopee One', sans-serif;
        color: black;
    }

    p {
        font-size: small;
        margin: 10px auto 0 auto;
    }

    .card-like {
        float: right;
    }
}

.card-image {
    height: 40%;
    display: flex;

    img {
        margin: 10px auto 2px auto;
        height: 90%;
    }
}
