.home-body {
    height: 100vh;
    .home-headers {
        text-align: center;
        background-color: black;

        h1, h3 {
            margin: 0 auto;
            color: white;
        }
    }
}
#errand-container {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: auto;
}

h2{
    text-align: center;
}
.errand-card {
    box-shadow: 0 3px 10px rgb(44 44 45 / 10%) , inset 0 0 0 1px rgb(44 44 45 / 10%);
    height: 400px;
    width: 250px;
    margin: 10px;
    border: lightgrey;
    border-radius: 10px;
    background-color: white;
    padding: 0;
    overflow: scroll;    

    .item-details {
        text-align: center;
        font-weight: bold;
        margin: 10px auto;
        font-family: 'Otomanopee One', sans-serif;
        color: black;
    }

    p {
        font-size: small;
        margin: 3px auto 0 auto;
    }

    .card-body {
        height: 50%;
        overflow: scroll;
    }

    .card-like {
        float: right;

    }
}

.card-image {
    height: 40%;
    display: flex;

    img {
        margin: 10px auto 2px auto;
        width: 85%;
        object-fit: contain;
        border-radius: 5px;
    }
}

.card-like {
    margin: 15px 25px 0 0 ;
}

@media screen and (max-width: 1024px){

    .main-container {
        width: 90vw;
        margin: auto;
    }

    .errand-card {
        width: 20%;
    }

    .item-details {
        font-size: 1em;
    }

}