.add-row {
    min-height: 100vh;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 100px;
}


.add-container {
    margin: 0 auto 50px auto;
    width: 40vw;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid lightgrey;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1) ;
    font-family: "Open Sans", Helvetica, sans-serif;
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 175%;
    color: #757575;
    font-weight: 900;
    margin-bottom: 40px;
}

.outer {
    margin: 30px auto;
}


.input {
    width: 75%;
    height: 50px;
    display: block;
    margin: 0 auto 15px;
    padding: 10px 5px;
    border: none;
    border-bottom: 2px solid #ebebeb;
    &:focus {
        outline: none;
        border-bottom-color: #58c791;
    }
    &:hover {
        border-bottom-color: #58c791;
    }
    &:invalid {
        box-shadow: none;
    }
}

.date-inputs {
    display: flex;
    justify-content: space-evenly;

    label {
        font-weight: 400;
        color: black;
    }

    a{
        color: black;
    }
}

.inputButton {
    position: relative;
    width: 20%;
    height: 50px;
    display: block;
    margin: 10px auto 20px;
    border-radius: 5px;
    background-color: lightgray;
    border: 3px solid black;
    
    &:hover {
        top: 3  px;
        a {
            font-weight: bold;
        }
    }

    &:active {
        top: 5px;
    }

    a {
        color: black;
    }
}


