.chat {
    display: flex;
    overflow-y: scroll;
    height: 100%;
    justify-content: center;
    
    .errand-chats {
        width: 30%;
        height: 100%;

        .errand-wrapper {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            border-right: 1px solid lightblue;
        }

        .search-chat {
            width: 60%;
            padding: 10px 0;
            border: none;
            border-bottom: 1px solid lightgray;
            float:left;
        }
    }

    .main-chat {
        width: 40%;
        height: 100%;
        margin-left: 20px;
    }

    .main-wrapper {
        display: flex;
        flex-direction: column;
        max-height: 90%;        
    }

    .chatBoxTop {
        overflow-y: scroll;
        height: 500px;
        width: 80%;
        border: 2px solid Grey;
        margin: 20px auto;
        border-radius: 5px;
        
    }

    .chatBoxBottom {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        .chatInput {
            width: 70%;
            margin-right: 10px;
            border-radius: 5px;
        }

        .chatSubmit {
            border-radius: 5px;
            background-color: burlywood;
            color: black;
        }
    }

    .errand-wrapper, .main-wrapper{
        padding: 10px;
        height: 90%;
    }

    .noConversation {
        font-size: 24px;
        color: lightgrey;
        text-align: center;
    }
}

